{% extends 'med/base.html'%}
{%load custom_tags%}
{%block title%}{{title}}{%endblock title%}
{%block content%}
{% if request.user|has_group:"doctor" or request.user|has_group:"administer"%}
<div class="card">
<div class="card-body">
  <!-- Table with hoverable rows -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">patient</th>
        <th scope="col">medicine</th>
        <th scope="col">days to take</th>
        <th scope="col">schedule</th>
        <th>update</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      {%for detail in listmed%}
      <tr>
        <th scope="row">{{detail.user}}</th>
        <td>{{detail.medicine}}</td>
        <td>{{detail.days_to_take}}</td>
        <td>{{detail.schedule}}</td>
        <td><a href="{% url 'updatemedication' detail.id%}">update</a></td>
        <td><a href="{% url 'deletemedication' detail.id %}">delete</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <!-- End Table with hoverable rows -->
</div>
</div>
{% endif%}
{%endblock content%}